<!DOCTYPE html>
<html>

	<head>
		<title>
			<%= title %>
		</title>
		<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" />
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
		<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel='stylesheet' href='/images/style.css' />
	</head>

	<body>
		<div class="ali">
			<div class="head">
				<div class="logo w">
					<h1><%= title %></h1>
				</div>
			</div>
			<div class="main w">